{% extends 'base.html' %}
{%  load static %}
{% block body_top %}

    <div class="container establishment-date-container py-5">
        <div class="row">
            <div class="col-md-6 text-end">
                <img src="{% static 'Webserver_Office/main_page/indoor/5.jpg'%}" class="m-auto p-1 w-100 img_trans" alt="inner office">
                </div>
            <div class="col-md-6 text-center text-md-start">
                <h4 class="pt-3 pt-sm-5 mt-3 mt-sm-5" >Founded in <br/> <span class="text-success">2022/January/22</span> </h4>
                <p class="display-6" style="font-size: large">The office of Engineer <span class="fw-bold">Abdulmohsen Khalil Ali Abdoh Al-Sayegh</span> for Engineering Consultations has been instituted, and we are honored to serve you.</p>
            </div>
        </div>
    </div>

    <hr class="mx-5">
    <article class="our-goal-article mb-5 justify-content-center">
{#        <div class="container our-goal-container m-0 p-0" >#}
            <div class="row">
{#                <img src="{% static "Webserver_Office/main_page/buildings/168.jpg" %}" alt="our_goal_bg_img" style="background-size: cover;">#}
                <div class="col text-center text-light ">
                    <h1 class="display-6 fw-bold">Our goal</h1>
                    <p class="display-6">Our goal is to be a leading professional office in the engineering field,
                        specializing in project management, studies, design, supervision and consulting.
                        According to scientific and professional methods aiming to give an added value to the engineering profession
                        in the Kingdom of Saudi Arabia according to Vision 2030, in order to achieve the optimal investment of resources and capabilities,
                        complementing rather than competing with engineering offices and consulting houses.
                    </p>
                </div>

            </div>
{#        </div>#}
    </article>
<style>
.our-goal-article{
    background-color: #0f5132;
    background-image: linear-gradient(
          rgba(0, 0, 0, 0.5),
          rgba(0, 0, 0, 0.5)
        ),url("{% static 'Webserver_Office/main_page/backgrounds/168.jpg' %}");
    padding: 60px 30px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-shadow: 0 0 6px #000000;
}
.our-goal-article p{font-size: large}
@media (min-width: 576px)
    {
        .our-goal-article{
            padding: 2vw 5vw
        }
        .our-goal-article h1{font-size: xx-large}
        .our-goal-article p{font-size: x-large}

    }
</style> {% comment %}our goal article style{% endcomment %}

    <div class="container bg-danger">
        <div class="row">
            <div class="col">7</div>
            <div class="col">8</div>
        </div>
    </div>

    <div class="container bg-primary">
        <div class="row">
            <div class="col">9</div>
            <div class="col">10</div>
        </div>
    </div>

    <div class="container bg-secondary">
        <div class="row">
            <div class="col">11</div>
            <div class="col">12</div>
        </div>
    </div>

    <div class="container bg-warning">
        <div class="row">
            <div class="col">13</div>
            <div class="col">14</div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col">15</div>
            <div class="col">16</div>
        </div>
    </div>

{% endblock %}