{% extends 'base.html' %}
{%  load static %}
{% block body_top %}

    <div class="founded-date-container p-4">
        <div class="row">
            <div class="col-md-6 text-end">
                <img src="{% static 'Webserver_Office/main_page/indoor/5.jpg'%}" class="m-auto p-1 w-100 img_trans" alt="inner office">
                </div>
            <div class="col-md-6 text-center text-md-start p-sm-5">
                <h1 class="display-1 pt-3 pt-sm-5 mt-3 mt-sm-5 text-light" style="font-size: xxx-large" >Founded in <br/> <span class="text-success" style="font-size: xx-large">2022/January/22</span> </h1>
                <hr class="bg-light">
                <p class="display-6 text-light" style="font-size: x-large">The office of Engineer <span class="fw-bold">Abdulmohsen Khalil Ali Abdoh Al-Sayegh</span> for Engineering Consultations has been instituted, and we are honored to serve you.</p>
            </div>
        </div>
    </div>

    <hr class="m-5 bg-warning ">

    <article class="our-goal-article justify-content-center ">
{#        <div class="container our-goal-container m-0 p-0" >#}
            <div class="row">
{#                <img src="{% static "Webserver_Office/main_page/buildings/168.jpg" %}" alt="our_goal_bg_img" style="background-size: cover;">#}
                <div class="col text-center text-light ">
                    <h1 class="display-6 fw-bold">Our goal</h1>
                    <p class="display-6">Our goal is to be a leading professional office in the engineering field,
                        specializing in project management, studies, design, supervision and consulting.
                        According to scientific and professional methods aiming to give an added value to the engineering profession
                        in the Kingdom of Saudi Arabia according to Vision 2030, in order to achieve the optimal investment of resources and capabilities,
                        complementing rather than competing with engineering offices and consulting houses.
                    </p>
                </div>

            </div>
{#        </div>#}
    </article>
<style>
.our-goal-article{
    background-color: #0f5132;
    background-image: linear-gradient(
          rgba(0, 0, 0, 0.7),
          rgba(0, 0, 0, 0.7)
        ),url("{% static 'Webserver_Office/main_page/backgrounds/168.jpg' %}");
    padding: 60px 30px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-shadow: 0 0 6px #000000;
}
.our-goal-article p{font-size: large}
@media (min-width: 576px)
    {
        .our-goal-article{
            padding: 2vw 5vw;
            margin-bottom: 0;
        }
        .our-goal-article h1{font-size: xx-large}
        .our-goal-article p{font-size: x-large}

    }
</style> {% comment %}our goal article style{% endcomment %}

    <hr class="m-5 bg-warning">

    <div class="about-us-container p-4">
        <div class="row">
            <div class="col-md-6 text-center text-md-start p-sm-5">
                <h1 class="display-1 pt-sm-5 mt-sm-5 text-success" style="font-size: xxx-large">About us</h1>
                <hr class="bg-light">
                <p class="display-6 text-light" style="font-size: x-large">Engineer <span class="fw-bold">Abdulmohsen</span>'s office provides consulting services that serve clients in the governmental and private sectors.
                    Our employees work with the highest innovative engineering techniques and scientific methods to provide high quality designs and practical solutions to our customers in all regions.</p>
            </div>
            <div class="col-md-6 text-end">
                <img src="{% static 'Webserver_Office/main_page/indoor/12.webp'%}" class="m-auto p-1 w-100 img_trans" alt="inner office">
            </div>
        </div>
    </div>

    <hr class="m-5 bg-warning">

    <article class="our-mission-article justify-content-center ">
{#        <div class="container our-goal-container m-0 p-0" >#}
            <div class="row">
{#                <img src="{% static "Webserver_Office/main_page/buildings/168.jpg" %}" alt="our_goal_bg_img" style="background-size: cover;">#}
                <div class="col text-start text-light ">
                    <h1 class="display-6 fw-bold text-success text-center">Our mission<br><br></h1>
                    <ul class="">
                        <li>
                            Increasing and developing the optimal investment of all kinds of resources by directing spending, reducing
                            wastage in the engineering and non-engineering fields, and educating the beneficiaries.<br><br>
                        </li>
                        <li>
                            Providing the best service in various engineering fields.<br><br>
                        </li>
                        <li>
                            Contribute to the advancement of the profession at all levels.<br><br>
                        </li>
                        <li>
                            Contribute to directing potentials in the right direction and away from randomness in line with the successive
                            developments of the era by organizing and facilitating work procedures in an organized economic manner.<br><br>
                        </li>
                        <li>
                            That the name of Abdul Mohsen Khalil Abdo Al Sayegh Engineering Office be associated with high professional
                            performance according to international and local scientific standards.<br><br>
                        </li>
                        <li>
                            Obtaining advanced creative ideas, energizing youthful energies, and providing them with the necessary capabilities to highlight their creativity in various fields.<br><br>
                        </li>
                    </ul>
                </div>

                <div class="gif-container text-light justify-content-center text-center">
                    <div class="row justify-content-between">
                        <div class="col-3">
                            <img src="{% static 'Webserver_Office/main_page/gif/tools.gif'%}" class="m-auto p-1 w-100" alt="inner office">
                            <h1 class="display-6">All engineering services</h1>
                        </div>
                        <div class="col-3">
                            <img src="{% static 'Webserver_Office/main_page/gif/diamond.gif'%}" class="m-auto p-1 w-100" alt="inner office">
                            <h1 class="display-6">Quality of services</h1>
                        </div>
                        <div class="col-3">
                            <img src="{% static 'Webserver_Office/main_page/gif/lamp.gif'%}" class="m-auto p-1 w-100" alt="inner office">
                            <h1 class="display-6">Creativity in ideas</h1>
                        </div>
                        <div class="col-3">
                            <img src="{% static 'Webserver_Office/main_page/gif/check.gif'%}" class="m-auto p-1 w-100" alt="inner office">
                            <h1 class="display-6">Guaranteed Satisfaction</h1>
                        </div>
                    </div>
                </div>
            </div>
{#        </div>#}
    </article>
<style>
.our-mission-article{
    background-color: #0f5132;
    background-image: linear-gradient(
          rgba(0, 0, 0, 0.7),
          rgba(0, 0, 0, 0.7)
        ),url("{% static 'Webserver_Office/main_page/backgrounds/28.jpg' %}");
    padding: 60px 30px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.gif-container h1{
    font-size: small;

}
.our-mission-article li{font-size: large}
@media (min-width: 576px)
    {
        .our-mission-article{
            padding: 2vw 5vw;
            margin-bottom: 0;
        }
        .our-mission-article h1{font-size: xx-large}
        .gif-container h1{font-size: medium}
        .gif-container .col-3{width: 15%}
        .our-mission-article li{font-size: large}

    }

@media (min-width: 1000px) {
    .gif-container h1{font-size: x-large}
}
</style> {% comment %}our goal article style{% endcomment %}

     <hr class="m-5 bg-warning">

    <div class="our-services-container bg-dark">
        <div class="row">
            <h1 class="display-4 text-center text-success pb-5">Our Services</h1>
            <div class="row h-100">
                <div class="col-12 col-sm-6" id="c1">
                    <h5 class="display-5 text-warning text-center">Designs and Blueprints</h5>
                    <div class="sub-content text-white">
                        <h6 class="display-6">Preparing all design plans in various disciplines from:</h6>
                        <div class="row">
                            <div class="col">
                                 <ul class="px-5">
                                     <li>
                                         Architectural Designs.
                                     </li>
                                     <li>
                                         Construction.
                                     </li>
                                      <li>
                                         Health.
                                     </li>
                                     <li>
                                        Electrical.
                                    </li>
                                     <li>
                                         Conditioning.
                                     </li>
                                     <li>
                                         Firefighting and firefighting.
                                     </li>
                                     <li>
                                         Landscaping.
                                     </li>
                                     <li>
                                         Urban and urban planning for schemes and cities.
                                     </li>
                                     <li>
                                         Presentation of 3D perspectives
                                     </li>


                                 </ul>
                            </div>
                            <div class="col">
                                <ul class="px-5">
                                    <li>
                                        Prepare all detailed working drawings.
                                    </li>
                                     <li>
                                        Modification service for existing engineering designs and plans
                                    </li>
                                    <li>
                                        The service of modifying the already existing designs and plans.
                                    </li>
                                 </ul>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col col-sm-6">

                    <h5 class="display-5 text-warning text-center">Other Services</h5>
                    <div class="sub-content text-white">
                        <div class="col">
                             <ul class="px-5">
                                 <li>
                                     Architectural Designs.
                                 </li>
                                 <li>
                                     Surveying Services.
                                 </li>
                                 <li>
                                     Issuance of all building permits.
                                 </li>
                                 <li>
                                     All engineering consultancy in all fields, Online and on site.
                                 </li>
                                 <li>
                                     Architectural supervision of all finishing items.
                                 </li>
                                 <li>
                                     Structural supervision of all structural items.
                                 </li>
                                 <li>
                                     Ahkam platform
                                 </li>
                                 <li>
                                     3D printing.
                                 </li>
                                 <li>
                                     3D videos (VR Glasses)
                                 </li>
                             </ul>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col">10</div>
        </div>
    </div>
<style>
.our-services-container h4{font-size: xxx-large;}
.our-services-container h5{font-size: xx-large;}
.our-services-container h6{font-size: large}
.our-services-container *{
    margin: 0;
    padding: 0;
}
.sub-content {
    padding: 2%;
    border-style: none solid solid solid;
    border-width: 1px;
    border-color: #ffaa00;
    border-radius: 10px;
    margin:1vw;
    {#border-color: yellow;#}
}

</style>
        <hr class="m-5 bg-warning">

    <div class="container packages-container">
        <h1 class="display-4 text-info text-center pb-4">Packages</h1>
        <div class="row text-white">
            <div class="col">
                <div class="card mx-auto my-2" style="width: 18rem;">
                    <img src="{% static 'Webserver_Office/main_page/logo_banner.png' %}" class="card-img-top" alt="banner">
                      <hr class="m-0 bg-warning">
                    <div class="card-body">
                      <p class="card-text">P1.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mx-auto my-2" style="width: 18rem;">
                    <img src="{% static 'Webserver_Office/main_page/logo_banner.png' %}" class="card-img-top" alt="banner">
                      <hr class="m-0 bg-warning">
                    <div class="card-body">
                      <p class="card-text">P2.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mx-auto my-2" style="width: 18rem;">
                    <img src="{% static 'Webserver_Office/main_page/logo_banner.png' %}" class="card-img-top" alt="banner">
                    <hr class="m-0 bg-warning">
                    <div class="card-body">
                        <p class="card-text">P3.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style>
        .packages-container img{
            width: 85%;
            padding: 4%;
        }
        .packages-container .card{
            background-color: rgb(77, 77, 77);
        }
    </style>

    <hr class="m-5 bg-warning">

    <div class="container location-container text-center">
        <h1 class="display-4 text-warning">Our Location</h1>
        <div class="row">
            <div class="col">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2
                85.5746764403012!2d39.651608440655224!3d24.428162066311494!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x15bdbf10430f6d37%3A0x67dc561c1fb32aa4!2z2YXZg9iq2Kgg2KfZhNmF2YfZhtiv2LMg2LnYqNiv2KfZhNmF2K3Ys9mGINiu2YTZitmEINin2YTYtdin2YrYuiDZhNmE2KfYs9iq2LTYp9ix2KfYqiDYp9m
                E2YfZhtiv2LPZitip!5e1!3m2!1sen!2ssa!4v1644389582826!5m2!1sen!2ssa" width="600" height="450" style="border:5rem;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>

{% endblock %}