{% load static %}
<!DOCTYPE html>
<html lang="en">
{% block html-top %}{% endblock %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>AKS-Engineering Consulting Office</title>
    {% block head-top %}{% endblock %}
{#    global stylesheets & javascripts#}
    {% include 'bases/stylesheets.html' %}
    {% include 'bases/javascripts.html' %}

{#    Nav Bar    #}
    {%  include 'bases/navbar.html' %}

{#    Favicons    #}
    {% include 'bases/favicons.html' %}

    {% block head-bottom %}{% endblock %}

</head>

<body>

{% block body_top %}
{#    Body Content   #}
{% endblock %}

</body>
{% block html-bottom %}{% endblock %}
</html>